---
import { Divider } from "../components/divider";
import Head from "../components/head.astro";
import { Heading } from "../components/heading";
import { Nav } from "../components/nav";
import { ArticleCard, ArticleYear } from "../components/writing";
import Layout from "../layouts/layout.astro";
import type { Article } from "../types/article";

const articles: Record<number, Article[]> = {};

const posts: Article[] = (await Astro.glob("./writing/*.{md,mdx}"))
  .map((post) => ({
    ...post.frontmatter,
    url: post.url,
  }))
  .map((post: any) => ({ ...post, date: new Date(post.pubDate) }));

posts.forEach((post) => {
  if (articles[post.date.getFullYear()]) {
    articles[post.date.getFullYear()].push(post);
  } else {
    articles[post.date.getFullYear()] = [post];
  }
});
---

<Layout>
  <Head
    slot="head"
    title="Writing - Nirjhor Nath"
    description="A collection on my thoughts on tech, design, development, and life!"
  />
  <Nav currentRoute="/writing" client:load />
  <div class="gap-6 flex flex-col py-6 pb:3 md:pb-6">
    <Heading
      client:load
      heading="My Writing"
      sub="A collection of my thoughts on tech, design, development, and life!"
    />
    <hr class="opacity-60 border-accent-700" />
    {
      Object.entries(articles).map(([key, value], idx) => (
        <>
          <div class="flex md:gap-16 flex-col md:flex-row">
            <ArticleYear year={key} client:load />
            <div class="w-full flex flex-col hover-list">
              {value.map((item, idx) => (
                <ArticleCard item={item} idx={idx} client:load />
              ))}
            </div>
          </div>
          <Divider client:only idx={idx} list={Object.entries(articles)} />
        </>
      ))
    }
  </div>
</Layout>
