---
import type { Project } from "../lib/cms";

export interface Props {
  project: Project;
}

const { project } = Astro.props as Props;
---

<div
  class="flex flex-col lg:flex-row min-h-64 p-6 bg-[#232323] rounded-lg gap-6 border-solid border-2 border-cyan-300"
>
  <img
    class="flex-1 w-full lg:w-2 max-h-96 rounded-sm object-cover"
    src={project.images[0].url}
  />
  <div class="flex-1">
    <h2 class="font-medium">{project.name}</h2>
    <div
      class="flex flex-col items-start lg:flex-row lg:items-center justify-between"
    >
      <p class="text-cyan-200 font-mono">
        {project.stack}
      </p>
      <p class="text-gray-400">
        Built in: {project.year}
      </p>
    </div>
    <div class="flex flex-col gap-2 mt-4 text-gray-300">
      <Fragment set:html={project.description} />
    </div>
  </div>
</div>
